.package-container {
  display: flex;
  gap: 40px;
  padding: 40px;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.package-left {
  flex: 1;
  max-width: 600px;
  padding:0 40px;
}

.promo-banner {
  background-color: #fff3cd;
  padding: 20px;
  font-size: 16px;
  border-left: 5px solid #ffeeba;
  margin-bottom: 20px;
}

.subtitle {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.main-title {
  font-size: 57px;
  font-weight: 700;
  margin-bottom: 20px;
}

.description {
  font-size: 18px;
  color: #555;
  
  margin-bottom: 15px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 25px;
}

.feature-item {
  font-weight: 600;
  font-size: 17px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.form-right {
  flex: 1;
  /* background-color: #f7f7f7; */
  padding: 30px;
  border-radius: 10px;
  min-width: 360px;
  max-width: 600px;
}

.invest-card {
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

.progress-card {
  background-color: #2563eb;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 6px;
  display: inline-block;
  margin-bottom: 20px;
}

.invest-card h3 {
  font-size: 23px;
  margin-bottom: 15px;
}

.invest-card form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.invest-card label {
  font-size: 16px;
  color: #333;
  display: flex;
  align-items: center;
  gap: 8px;
}

.invest-card button {
  margin-top: 15px;
  background-color: #2563eb;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.invest-card button:hover {
  background-color: #1d4ed8;
}

.contact-form input {
  padding: 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 10px;
  width: 100%;
}

.thank-you {
  background-color: #e0ffe0;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

.thank-you h2 {
  color: #2e7d32;
  margin-bottom: 10px;
}
