 .modern-container{
 text-align: center;
  padding:60px 20px;
  max-width: 900px;
  margin:0 auto;
}
.modern-header{
  color:#000;
  font-size: 52px;
  font-weight: 800;
  margin-bottom: 20px;

}
.modern-description{
  color:#555;
  font-size: 21px;
  line-height: 1.6;
  max-width: 800px;
  margin:0 auto;
  font-weight: 500;
 
}
.track-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 60px 10%;
  background-color: #ffffff;
  flex-wrap: wrap;
  
}

.track-left {
  flex: 1;
  max-width: 900px;
}
.track-title {
  font-size: 50px;
  font-weight: 800;
  color: #2d2f33;
  margin-bottom: 10px;
}

.track-subtitle {
  font-size: 18px;
  color: #000;
  line-height: 1.6;
  margin-bottom: 10px;
}

.track-highlight span {
  font-size: 23px;
  font-weight: 600;
  color: #222;
background-image: linear-gradient(120deg, rgba(255, 193, 7, 0.4) 0%, rgba(255, 193, 7, 0.4) 100%);
    background-size: 10% 0.3em;

  /* border-bottom: 4px solid #f4c041; */
}

.track-stats {
  display: flex;
  gap: 40px;
  margin: 20px 0;
}

.track-stats h2 {
  font-size: 38px;
  color: #2563eb;
  margin:0 auto;
}

.track-stats p {
  font-weight: 600;
  font-size: 17px;
  color: #222;
}

/* .fleet-testimonial {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin: 0;
} */

/* .fleet-user {
  width: 48px;
  height: 48px;
  border-radius: 4px;
  object-fit: cover;
}

.fleet-testimonial p {
  font-size: 16px;
  color: #444;
  line-height: 1.5;
} */

.track-buttons {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.btn-primary {
  background-color: #2563eb;
  color: #fff;
  padding: 12px 24px;
  font-size: 17px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #1d4ed8;
}

.btn-secondary {
  background-color: transparent;
  color: #2563eb;
  padding: 12px 24px;
  font-size: 16px;
  border: 2px solid #2563eb;
  border-radius: 8px;
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: #eef4ff;
}

.track-right {
  flex: 1;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.track-image {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  border: 1px solid rgb(229, 221, 221);
  display: block;
}
.assets-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 60px 10%;
  background-color: #ffffff;
  flex-wrap: wrap;
  
}

.assets-right {
  flex: 1;
  max-width: 700px;
}
.assets-title {
  font-size: 50px;
  font-weight: 800;
  color: #2d2f33;
  margin-bottom: 10px;
}

.assets-subtitle {
  font-size: 18px;
  color: #000;
  line-height: 1.6;
  margin-bottom: 10px;
}

.asset-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin: 20px 0;
}

.asset-tags span {
  background-color: #e8f5e9;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: 600;
  color: #222;
  font-size: 15px;
}
.assets-buttons {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.btn-primary {
  background-color: #2563eb;
  color: #fff;
  padding: 12px 24px;
  font-size: 17px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #1d4ed8;
}

.btn-secondary {
  background-color: transparent;
  color: #2563eb;
  padding: 12px 24px;
  font-size: 16px;
  border: 2px solid #2563eb;
  border-radius: 8px;
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: #eef4ff;
}

.assets-left{
  flex: 1.2;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.assets-image {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  display: block;
}