.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: none;
  flex-wrap: wrap;
  gap:40px;
 
}

.hero-left {
  flex: 1;
  min-width: 300px;
  margin-bottom: 20px;
}

.hero-header {
  font-size: 58px;
  margin-bottom: 10px;
  color: #000;
}

.hero-subheader{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #000;
}

.hero-description {
  font-size: 18px;
  line-height: 1.6;
  font-weight: 500;
  color: #424141;
  margin-bottom: 40px;
}

.hero-buttons {
  display: flex;
  gap: 15px;
}

.btn {
  display: inline-flex;
  align-items: center;
  padding: 13px 30px;
  gap:8px;
  font-size: 1rem;
  border: none;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.btn.primary {
  background-color: #007bff;
  color: white;
}

.btn.primary:hover {
  background-color: #0056b3;
}

.btn.secondary {
  background-color:white;
  color: #007bff;
  border: 2px solid #007bff
}


.hero-right {
  flex: 1;
  text-align: center;
}

.hero-image {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}
.partners-container {
  padding: 30px 10%;
  background-color: #f9f9f9;
  text-align: center;
}

.partners-header {
  font-size: 38px;
  color: #333;
  margin-bottom: 60px;
}

.highlight-link {
  color: #175ba3;
  text-decoration: none;
  font-weight: bold;
}

.highlight-link:hover {
  text-decoration: underline;
}

.partners-logos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  justify-items: center;
}

.partners-logos img {
  max-height: 80px;
  max-width: 600px;
  object-fit: contain;
  /* filter: grayscale(100%); */
  transition: filter 0.3s ease;
}

.video-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.video-modal {
  position: relative;
  width: 90%;
  max-width: 600px;
  aspect-ratio: 16/9;
  background-color: #000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  border: 6px solid #333; 
  border-radius: 20px;
  overflow: hidden;
  padding:0;
}


.video-modal iframe {
  width: 100%;
  max-width: 800px;
  height: 100%;
  display:block;
  border:none;
 padding:0;
 margin:0;
}

.video-close {
  position: absolute;
  top: 10px;
  right:10px;
  font-size: 2rem;
  color:white;
  cursor: pointer;
  background-color: transparent;
}
.fleet-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: none;
  flex-wrap: wrap;
  gap:40px;
  margin-top: 40px;
 
}
.fleet-left {
  flex: 1;
  /* justify-content: center; */
  align-content: center;
}

.fleet-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.fleet-right {
  flex: 1;
  min-width: 300px;
  margin-bottom: 20px;
}

.fleet-header {
  font-size: 52px;
  margin-bottom: 10px;
  color: #000;
}

.fleet-description {
  font-size: 18px;
  line-height: 1.3;
  font-weight: 500;
  color: #000;
  margin-bottom: 10px;
}

.highlight-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding:0;
  margin:0;
  
}

.highlight-item {
  display: flex;
  align-items: center;
  gap: 5px;
  margin:0;
  padding:0;
  line-height: 1.3;
}

.highlight-icon {
  /* background-color: #e8f0ff; */
  color: #2563eb; /* Blue */
  font-size: 1.2rem;
  padding: 0;
  margin:0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  height: 40px;
}

.highlight-text {
  font-size: 1rem;
  font-weight: 500;
  color: #222;
  margin:0;
  line-height: 1.4;
}
.Link a{
  color:#005eb8;
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
}
.cart-section {
  padding: 60px;
  display: flex;
  justify-content: center;

}
.cart-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.step-cart {
  /* background-color: #ffffff; */
  /* border-radius: 12px; */
  padding: 20px;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.step-cart:hover {
  transform: translateY(-4px);
}

.cart-icon {
  font-size: 48px;
  color: #005eb8;
  margin-bottom: 15px;
  
}
.card-title {
  font-size: 26px;
  font-weight: 800;
  color: #000;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.arrow {
  color: #005eb8;
  font-weight: normal;
  font-size: 28px;
}

.card-text {
  padding:0;
  font-size: 17px;
  color: #454444;
  line-height: 1.4;
}
.card-link{
  margin:0;
  padding:10px;
}
.card-link a{
  color:#007bff;
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
}
.testimonial-form-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 60px;
  background: linear-gradient(to right, #e8ecef 50%, #1e1f22 50%);
  color: #000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.testimonial-box {
  background-color: #fff;
  border-radius: 12px;
  padding: 30px;
  max-width: 500px;
  width: 100%;
  margin: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
   /* Full center */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.quote {
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 20px;
}

.testimonial-author {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.testimonial-text {
  font-size: 16px;
  line-height: 1.6;
}
.testimonial-pagination {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.testimonial-pagination button {
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.testimonial-pagination button.active {
  background-color: #005eb8;
  color: white;
  border-color: #005eb8;
}


.form-box {
  max-width: 500px;
  width: 100%;
  padding: 30px;
  margin: 20px;
  color: #fff;
}

.form-box h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.form-box p {
  font-size: 16px;
  margin-bottom: 10px;
}

.form-card {
  background-color: #fff;
  border-radius: 12px;
  padding: 25px;
  color: #000;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.progress {
  background-color: #005eb8;
  color: #fff;
  width: fit-content;
  padding: 5px 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  font-weight: bold;
}

.form-card h3 {
  margin-bottom: 15px;
}

.form-card label {
  display: block;
  margin-bottom: 10px;
  font-size: 15px;
  cursor: pointer;
}
.form-card input[type="radio"] {
  margin-right: 8px;
}

.form-card button {
  width: 100%;
  padding: 12px;
  background-color: #2563eb;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.form-card button:hover {
  background-color: #1d4ed8;
}

.box-section {
  padding: 60px 10%;
  background-color: #f9f9f9;
}

.box-header {
  text-align: center;
  margin-bottom: 60px;
   
}

.box-title {
  font-size: 58px;
  font-weight: 900;
  color: #2d2f33;
  padding:0 10%
 
}

.box-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.box-card {
  background-color: #fff;
  border-radius: 12px;
  padding: 18px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  transition: transform 0.3s ease;
}

.box-card:hover {
  transform: translateY(-5px);
}

.box-icon {
  font-size: 50px;
  color: #2563eb;
  margin-bottom: 10px;
}

.box-card-title {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 12px;
  color: #333;
}

.box-card-list {
  padding-left: 20px;
  margin-bottom: 19px;
  font-size: 16px;
  color: #444;
  line-height: 1.6;
}

.box-card-list li {
  margin-bottom: 8px;
}

.box-card-link a {
  color: #2563eb;
  text-decoration: none;
  font-weight: 600;
  font-size: 19px;
}
.case-studies-section {
  padding: 60px 40px;
  max-width: 1200px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.case-title {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.case-subtitle {
  color: #555;
  margin-bottom: 40px;
  text-align: center;
  font-size: 1.3rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.case-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 24px;
}

.case-card {
  background: #fff;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
}

.case-card:hover {
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
}

.case-image {
  width: 100%;
  height: 290px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.case-content {
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.case-heading {
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #222;
}

.case-desc {
  font-size: 1rem;
  color: #555;
  margin-bottom: 16px;
  flex-grow: 1;
}

.case-link {
  color: #0066cc;
  text-decoration: none;
  font-weight: 600;
}

.case-link:hover {
  text-decoration: underline;
}

.pagination {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.page {
  background: #f0f0f0;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.page.active {
  background: #0066cc;
  color: white;
}

.read-more {
  margin-top: 20px;
  text-align: center;
}

.read-more a {
  color: #0066cc;
  text-decoration: none;
  font-weight: 600;
}

.industries-section {
  padding: 60px 10px;
  /* background: #f9f9f9; */
  font-family: Arial, sans-serif;
}

.industries-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;
  margin: 20px auto;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
}

.industries-image img {
  width: 100%;
  max-width: 600px;
  border-radius: 8px;
  object-fit: cover;
}

.industries-content {
  flex: 1;
  min-width: 350px;
  max-width: 600px;
}

.industries-label {
  background: #eef2f7;
  padding: 12px 20px;
  border-radius: 30px;
  display: inline-flex;
  align-items: center;
  font-size: o.95rem;
  color: #333;
}

.label-icon {
  font-size: 40px;
  margin-right: 10px;
  color: #4a90e2;
}

.industries-heading {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 10px;
  color: #111;
}

.industries-description {
  font-size: 1rem;
  color: #444;
  margin-bottom: 30px;
  line-height: 1.3;
}

.industries-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 10px;
  margin-bottom: 20px;
}

.industry {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #222;
  /* background: #fff; */
  padding: 10px;
  border-radius: 8px;
  /* box-shadow: 0 2px 6px rgba(0,0,0,0.05); */
}

.icon {
  margin-right: 10px;
  color: #4a90e2;
  font-size: 1.2rem;
}

.industries-link {
  color: #007bff;
  font-weight: bold;
  text-decoration: none;
}

.industries-link:hover {
  text-decoration: underline;
}

.scalable-section {
  padding: 60px 20px;
  font-family: Arial, sans-serif;
  background: #fff;
}

.scalable-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;
  margin: 60px auto;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
}

.scalable-left {
  flex: 1;
  min-width: 350px;
  max-width: 600px;
}

.scalable-right img {
  width: 100%;
  max-width: 600px;
  border-radius: 8px;
  object-fit: cover;
}

.scalable-badge {
  background: #f2f6fc;
  color: #333;
  padding: 12px 20px;
  border-radius: 30px;
  display: inline-flex;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 10px;
}

.badge-icon {
  font-size: 40px;
  margin-right: 10px;
  color: #4a90e2;
}

.scalable-heading {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 20px;
  color: #111;
}

.scalable-subheading {
  font-size: 1.05rem;
  color: #444;
  margin-bottom: 30px;
}

.scalable-features {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.feature-column {
  flex: 1;
  min-width: 220px;
}

.feature-column h3 {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.feature-column ul {
  list-style: none;
  padding: 0;
}

.feature-column li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.icon {
  margin-right: 10px;
  color: #4a90e2;
  font-size: 1rem;
}

.scalable-link {
  color: #007bff;
  font-weight: bold;
  text-decoration: none;
}

.scalable-link:hover {
  text-decoration: underline;
}
.excel-section{
  margin:20px auto;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  padding:60px 10px;
}
.excel-header {
  font-size: 56px;
  font-weight: bold;
  margin: 20px 0;
  text-align: center;
}

.excel-subheader {
  color: #555;
  margin-bottom: 40px;
  text-align: center;
  font-size: 1.1rem;
  /* max-width: 800px; */
  /* margin-left: auto;
  margin-right: auto; */
}
.info-faq-section {
  padding: 10px 20px;
  font-family: Arial, sans-serif;
 
}

.info-faq-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;
  margin: auto;
  gap: 50px;
  align-items: flex-start;
}

.info-left {
  flex: 1;
  min-width: 300px;
  max-width: 600px;
}

.info-subheader {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 15px;
  color: #111;
}

.info-paragraph {
  font-size: 1rem;
  color: #444;
  line-height: 1.6;
  margin-bottom: 18px;
}


.faq-container {
  flex: 1;
  min-width: 300px;
  max-width: 600px;
}



.faq-item {
  background-color: #eee;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
background-color: white;
  border: 1px solid white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: 30px 20px;
} 

.arrow-icon {
  transition: transform 0.3s ease;
}

.arrow-icon.open {
  transform: rotate(180deg);
}

.faq-answer {
  margin-top: 10px;
  font-size: 0.95rem;
  color: #555;
  line-height: 1.5;
}



/* Responsive: 3 per row on tablet, 2 on mobile */
@media (max-width: 992px) {
  .partners-logos {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .partners-logos {
    grid-template-columns: repeat(2, 1fr);
  }
}

