.box-section {
  padding: 60px 10%;
  background-color: #f9f9f9;
}

.box-header {
  text-align: center;
  margin-bottom: 60px;
   
}

.box-title {
  font-size: 58px;
  font-weight: 900;
  color: #2d2f33;
  padding:0 10%
 
}

.box-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.box-card {
  background-color: #fff;
  border-radius: 12px;
  padding: 18px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  transition: transform 0.3s ease;
}

.box-card:hover {
  transform: translateY(-5px);
}

.box-icon {
  font-size: 50px;
  color: #2563eb;
  margin-bottom: 10px;
}

.box-card-title {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 12px;
  color: #333;
}

.box-card-list {
  padding-left: 20px;
  margin-bottom: 19px;
  font-size: 16px;
  color: #444;
  line-height: 1.6;
}

.box-card-list li {
  margin-bottom: 8px;
}

.box-card-link a {
  color: #2563eb;
  text-decoration: none;
  font-weight: 600;
  font-size: 19px;
}