
/* Footer.css */
.footer {
  background-color: #002a5c;
  color: white;
  padding:40px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  max-width: 1200px;
  margin: auto;
}

.footer-col {
  display: flex;
  flex-direction: column;
  gap: 30px;
  
}

.footer-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-icon {
  display: flex;
  align-items: center;
  border: 1px solid white;
 justify-content: space-between;
  padding: 12px 16px;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.footer-icon:hover {
  background-color: #0059b3;
}
.address-icon {
  margin-right: 10px;
  color: #fff;
  font-size: 19px;
}

.footer-icon .icon {
  font-size: 20px;
}
.footer-icon span {
  flex: 1;
  margin-left: 10px;
  font-size: 14px;
  color: white;
  white-space: nowrap;
}
.line-icon {
  font-size: 24px;
  color: white;
}

.footer-section h4 {
  font-size: 22px;
  margin-bottom: 20kpx;
  font-weight: 600;
}

.footer-section ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.footer-section ul li {
 font-size: 17px;
  font-weight: 500;
  margin-bottom: 20px;
   line-height: 1.7;
   cursor: pointer; 
}

.footer-section ul li:hover {
  text-decoration: underline;
}
.footer-title {
  display: inline-flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  color: white;
  margin-bottom: 10px;
  gap: 4px; /* small space between text and icon */
}


.header-arrow {
  font-size: 25px;
  color: #ccc;
  transition: transform 0.3s ease;
}

.footer-title:hover .header-arrow {
  transform: translateX(4px);
}
.footer-bottom {
  display: flex;
  justify-content: space-between; /* Push left and right to ends */
  align-items: flex-start;
  padding: 20px 60px;
  border-top: 1px solid #ccc;
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
  gap: 20px; /* Optional: spacing between items when wrapped */

}
.footer-left {
  flex: 1; 
  min-width: 250px;
  margin: 10px 0;
 
}
.footer-right {
 text-align: start;
  min-width: 250px;
  margin: 10px 0;
 
}

.footer-heading {
  font-size: 20px;
  margin-bottom: 15px;
  color: #fff;
}

.social-icons a {
  font-size: 20px;
  margin-right: 15px;
  color: #fff;
  padding:10px;
  border-radius: 50%;
  border: 1px solid #8b8484;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #0077cc;
}
.store-icons {
  display: flex;
  align-items:center;
  margin-top: 20px;
}
.store-icons img {
  height: 40px;
  margin-right: 15px;
  transition: transform 0.3s ease;
}

.store-icons img:hover {
  transform: scale(1.05);
}
.footer-legal {
  background-color: #e6f0fb;
  padding: 40px 60px;
  font-size: 16px;
  color: #555;
}
.legal-links {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.legal-links a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}
.legal-links a:hover {
  text-decoration: underline;
}
.footer-legal hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0 20px;
}
.legal-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
.language-select {
  display: flex;
  align-items: center;
  gap: 10px;
}
.language-select select {
  padding: 5px 8px;
  border-radius: 4px;
  border: 1px solid #aaa;
}




/* Responsive for mobile */
@media (max-width: 768px) {
  .footer-grid {
    grid-template-columns: 1fr;
  }
}
